/* ==============================
  Responsive. Breakpoints mobile
=================================*/
@media only screen and (max-width: 575px) {
  .status-form {
    margin-top: 2em;
    text-align: center;
  }
  .fh5co-section-heading {
    margin-right: 0;
  }
  #navbar-top .navbar-buttons {
    display: none !important;
  }
}

@media only screen and (max-height: 500px) {
  footer {
    height: unset !important;
  }
}
@media only screen and (min-height: 1000px) {
  footer {
    height: 50vh;
  }
  .contact-form {
    top: 52%;
  }
}

@media only screen and (max-width: 767px) {
  .info {
    display: none;
  }

  .contact-form {
    width: 80%;
  }
  .multi-button {
    width: 100% !important;
  }

  nav.clone {
    background-color: var(--hero-sect);
    color: #666;
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
  }

  nav.clone > svg {
    display: block;
    fill: var(--black-white);
  }

  #bio p {
    text-align: justify;
  }
}

@media only screen and (max-width: 1200px) {
  .multi-button {
    width: 50%;
  }
}

@media only screen and (max-height: 722px) {
  footer {
    height: 90vh;
  }
  .contact-form {
    top: 18%;
  }
}

@media only screen and (max-height: 560px), (max-width: 575px) {
  .contact-form,
  footer {
    position: relative;
  }

  footer {
    padding-bottom: 0;
    top: 0;
  }

  .email {
    margin-top: 20px;
  }

  .contact-form {
    width: 80%;
  }

  .h-contact {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  input,
  textarea {
    font-size: 14px;
  }
  .status-form {
    margin-top: 2em;
  }
}
