$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$fa-linkedin: "\f08c";
$fa-arrow-down: "\f063";
$fa-file: "\f15b";
$fa-adjust: "\f042";
$fa-chevron-up: "\f077";
$fa-briefcase: "\f0b1";
$fa-envelope: "\f0e0";
$fa-graduation-cap: "\f19d";