/* ------------------------
  Common Elements
-------------------------- */

@import "_icons";
@import "animations";

* {
  scroll-behavior: smooth;
}

/* Images */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* pointer-events: none; */
}

/* Colors varibales for each theme */
body {
  --text-color: #575757;
  --bkg-color: #fff;
  --h-color: #40424a;
  --fh5co-section-heading: #000;
  --hero-sect: #e5f0fb;
  --black-white: #000;
  --white-black: #fff;
  --cardIcon: #a0a0a0;
  --cardShadow: rgba(0, 0, 0, 0.1);
  --cardHover: rgba(0, 0, 0, 0.3);
  --blue: #1265b8;
}

body.dark-mode {
  --text-color: #eee;
  --bkg-color: #121212;
  --h-color: #eee;
  --fh5co-section-heading: #eee;
  --hero-sect: #202945;
  --blue: #202945;
  --card-color: #2b2b2b;
  --black-white: #fff;
  --white-black: #000;
  --cardIcon: #fff;
  --cardShadow: rgba(255, 255, 255, 0.1);
  --cardHover: rgba(255, 255, 255, 0.3);
}

body.dark-mode img {
  filter: brightness(0.8) contrast(1.1);
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    --h-color: #eee;
    --fh5co-section-heading: #eee;
    --hero-sect: #202945;
    --blue: #202945;
    --card-color: #2b2b2b;
    --black-white: #fff;
    --white-black: #000;
    --cardIcon: #fff;
    --cardShadow: rgba(255, 255, 255, 0.1);
    --cardHover: rgba(255, 255, 255, 0.3);
  }

  body.light-mode {
    --text-color: #575757;
    --bkg-color: #fff;
    --h-color: #40424a;
    --fh5co-section-heading: #000;
    --hero-sect: #e5f0fb;
    --blue: #1265b8;
    --black-white: #000;
    --white-black: #fff;
    --cardIcon: #a0a0a0;
    --cardShadow: rgba(0, 0, 0, 0.1);
    --cardHover: rgba(0, 0, 0, 0.3);
  }

  img {
    filter: brightness(0.8) contrast(1.1);
  }

  body.light-mode img {
    filter: brightness(1) contrast(1);
  }
}

/* End color variables */